body{
    background-color: black;
}
nav.navbar{
    text-align: right;
    padding: 1%;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: rgba(64, 224, 208, 0.199) !important;

}
header{
    color: white;
}
#navigationbar{
    margin-left: 45%;
}
.presentation{
    margin-bottom: 5em;
    text-align: justify;
}
.title-presentation{
    text-align: center;
    padding: 1em;
    color: white;
}
.row{
    color: white;
    padding: 1em;
    margin: 1em;
}
.col-md{
    margin: 1em;
    font-size: 20px;
}
.icon{
    text-align: center;
    background-color: #289ba8;
    display: block;
    margin-bottom: 0.5em;
}
hr{
    border-top: 0.25em solid #289ba8;
}
.card{
    background-color:#289ba8;
}
.card-body{
    color: white;
}
footer {
    text-align: right;
    background-color: #289ba8;
    color: white;
    padding: 2em;
}
h3 {
    text-align: left;
    display: inline-block;
    padding-left: 0em;
    margin-left: 0em;
}
span{
    font-weight: bold;
    color: aqua;
}
.carousel-inner img {
    width: 340px;
    height: 720px;
   }
#buttom{
    border: green 5px solid;
    text-align: center;
    font-size: 30px;
    padding: 3%;
    margin: 1%;
    background-image: url("/assets/img/pngtree-glitter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}
.boton{
    color:#cbecc6;
    background-color: rgba(0, 0, 0, 0.603);
    padding: 1%;
    border-radius: 20px;
    border-color: antiquewhite;
}
.boton:hover {
    background-color: rgb(0, 217, 255);
    border-radius: 20px;
  }

.footer-icons a{
    text-align: right;
    color: white;
}
footer, i{
    padding: 0.15em;
}